In [2]:
import numpy as np
import os
import pandas as pd
from config import *
import glob
from astropy.io import fits
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import time

In [3]:
flist = np.load('../data/paths.npy')

In [4]:
index = np.where(np.char.find(flist, '6961317')>=0)
index

(array([2146929, 2146930, 2146931]),)

In [5]:
flist[index[0]]

array(['/global/cscratch1/sd/taceroc/data/stamps8/SNWG/Archive/2013/Y1/20130829/470660401/diff6961317.fits',
       '/global/cscratch1/sd/taceroc/data/stamps8/SNWG/Archive/2013/Y1/20130829/470660401/srch6961317.fits',
       '/global/cscratch1/sd/taceroc/data/stamps8/SNWG/Archive/2013/Y1/20130829/470660401/temp6961317.fits'],
      dtype='<U99')

In [6]:
ffpath = os.path.join(configs["dpath"], "autoscan_features.3.feather")
new_labels = pd.read_feather(ffpath)
new_labels[new_labels['ID']==6961317]

,ID,OBJECT_TYPE,AMP,A_IMAGE,A_REF,BAND,B_IMAGE,B_REF,CCDID,COLMEDS,...,N3SIG3,N3SIG3SHIFT,N3SIG5,N3SIG5SHIFT,NN_DIST_RENORM,NUMNEGRN,SCALE,SNR,SPREADERR_MODEL,SPREAD_MODEL
754094,6961317,0,0.906008,2.313,NaN,g,2.104,NaN,36,0.059354,...,0,16,0,16,NaN,6,2.521609,23.238455,0.001237,-0.000847

In [15]:
new_labels[new_labels['ID']==11865164]

,ID,OBJECT_TYPE,AMP,A_IMAGE,A_REF,BAND,B_IMAGE,B_REF,CCDID,COLMEDS,...,N3SIG3,N3SIG3SHIFT,N3SIG5,N3SIG5SHIFT,NN_DIST_RENORM,NUMNEGRN,SCALE,SNR,SPREADERR_MODEL,SPREAD_MODEL
770766,11865164,0,0.875889,1.218,2.652055,z,0.872,2.250055,56,0.102778,...,0,-9,0,-16,1.094252,21,1.501628,6.918598,0.005245,-0.004344

In [9]:
counts_type = np.unique(new_labels['OBJECT_TYPE'], return_counts=True)
counts_type

(array([0, 1]), array([454092, 444871]))